# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/TravelLogMFD/v16/.suo
*.db
*.ipch
Release/RCa08844
*.log
*.tlog
*.res
*.pdb
*.filters
*.user
*.aps
